@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

        <h1><b>Welcome to Detroit!!!</b></h1>
        <h4>We are focusing on giving people the opportunity to learn more about Detroit and some of its points of interest</h4>
        <h4>Detroit is the Largest city in the Midwestern state of Michigan. Detroiters are proud of their city's rich industrial history and fond of the recognition they receive for living in the world's automotive capital.</h4><br />
        <h3><b> Here are a few facts about our city:</b> </h3><br />
        <ul>
            <li>First city  in the nation to assign individual telephone numbers(1879)</li>
            <li>First city to build America's first mile of concrete highway on Woodward Avenue between six mile and seven mile roads(1909)</li>
            <li>Detroit’s theater district is the second largest in the country, second only to New York City</li>
            <li>Detroit is the birthplace of Motown and Techno!</li>

        </ul>
        <h3>Detroit has a variety of places you can visit</h3>

<div class="layout">


    <div class="lang">
        <img id="image1" src="https://www.web-savvy-marketing.com/wp-content/uploads/2011/11/Detroit-RenCen.jpg" />
    </div>

    <div class="lang">
        <img src="http://hollywooddetroit.com/images/518_DSC_0942.JPG" />
    </div>
</div>
<br/>




