@{
    ViewBag.Title = "About";
}

<h3>@ViewBag.Message</h3>


<link type="text/css" href="~/Content/Style1.css" rel="stylesheet" />
<img src="http://www.theloftwarehouse.com/images/Jerome_images/Explore.png" />
        <h1 id="welcome"><b>Welcome to Detroit!!!</b></h1>
        <h4 class="normal">We are focused on providing an opportunity for people to learn more about Detroit and some of its points of interest.</h4>
        <h4 class="normal">Detroit is the largest city in the midwestern state of Michigan. As Detroiters we are proud of the city's rich industrial history and fond of the recognition we receive for living in the world's automotive capital.</h4><br />
        <h3><b> Here are a few facts about our city:</b> </h3><br />
        <ul>
            <li>First city  in the nation to assign individual telephone numbers(1879)</li>
            <li>First city to build America's first mile of concrete highway on Woodward Avenue between six mile and seven mile roads(1909)</li>
            <li>Detroit’s theater district is the second largest in the country, second only to New York City</li>
            <li>Detroit is the birthplace of Motown and Techno!</li>

        </ul>
        <h3>Detroit has a variety of places you can visit</h3>

<div class="layout">


    <div class="lang">
        <img id="image1" src="https://www.web-savvy-marketing.com/wp-content/uploads/2011/11/Detroit-RenCen.jpg" />
    </div>

    <div class="lang">
        <img src="http://hollywooddetroit.com/images/518_DSC_0942.JPG" />
    </div>
</div>
<br/>




