
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FinalProject.Models.Souvenir
<h2>Cart</h2>



<div class="table">
    <table style="font-family:'Quicksand', sans-serif" class="table table-bordered">

        <tr>
            <th>
                Souvenir Type
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>


        </tr>


        @foreach (var Element in ViewBag.Cart)
        {
            <tr>
                <td>
                    @Element.Souvenirname
                </td>

                <td>
                    @Element.Description
                </td>
                <td>
                    @Element.Price
                </td>
                <td>
                    <a href="/Home/DeleteItem?name=@Element.Souvenirname" onclick="return confirm ('Are you sure?')">Delete</a>
                </td>
            </tr>

        }
    </table>
</div>

<a href="/Home/Checkout">Checkout</a>