
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Checkout</h2>

@*<h3>Your total is $@ViewBag.gtotal.00</h3><br />



<form action="/Home/SavePaymentInfo" method="post">

    Full Name: <input type="text" name="Name" /><br />
    Address: <input type="text" name="Address" /><br />
    Credit Card Number: <input type="text" name="CCNumber" /><br />
    Credit Card Type: <select name="CardType">
        <option value="Visa">Visa</option>
        <option value="Amex">American Express</option>
        <option value="MasterCard">MasterCard</option>
        <option value="Discover">Discover</option>

    </select><br />
   
    <input type="submit" class="btn btn-primary btn-success" value="Pay" />*@

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Payment Details
                        </h3>
                        <div class="checkbox pull-right">
                            <label>
                                <input type="checkbox" />
                                Remember
                            </label>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <div class="form-group">
                                <label for="cardNumber">
                                    CARD NUMBER
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="cardNumber" placeholder="Valid Card Number"
                                           required autofocus />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                </div>
                            </div>
                            Full Name: <input type="text" name="Name" /><br />
                            <div class="row">
                                <div class="col-xs-7 col-md-7">
                                    <div class="form-group">
                                        <label for="expityMonth">
                                            EXPIRY DATE
                                        </label>
                                        <div class="col-xs-6 col-lg-6 pl-ziro">
                                            <input type="text" class="form-control" id="expityMonth" placeholder="MM" required />
                                        </div>
                                        <div class="col-xs-6 col-lg-6 pl-ziro">
                                            <input type="text" class="form-control" id="expityYear" placeholder="YY" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-5 col-md-5 pull-right">
                                    <div class="form-group">
                                        <label for="cvCode">
                                            CV CODE
                                        </label>
                                        <input type="password" class="form-control" id="cvCode" placeholder="CV" required />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active">
                        <a href="#"><span class="badge pull-right"><span class="glyphicon glyphicon-usd"></span>@ViewBag.gtotal.00</span> Final Payment</a>
                    </li>
                </ul>
                <br />
                <a href="/Home/SavePaymentInfo" class="btn btn-success btn-lg btn-block" role="button">Pay</a>
            </div>
        </div>
    </div>