@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome To Detroit!</h1>
    <p class="lead">America's comeback city at your fingertips! Register and find things to do in the city using our random event generator.</p>
    <p><a href="/Account/Register" class="btn btn-primary btn-lg">Register now &raquo;</a></p>
</div>

<iframe width="1120" height="630" src="https://www.youtube.com/embed/DO4J_PC1b5M" frameborder="0" allowfullscreen></iframe>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Explore Detroit is a media company that promotes the "D". We believe in the comeback of America's greatest city and strive to show the world all that is great about Detroit!
        </p>
        <p><a class="btn btn-default" href="/Home/About/">Explore more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Browse merchandise</h2>
        <p>Browse our Detroit-themed gear. Including exclusive items only found right here on our site!</p>
        <p><a class="btn btn-default" href="/Home/Product">View Items &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Who we are...</h2>
        <p>Learn about the team who's sharing Detroit with the world!</p>
        <p><a class="btn btn-default" href="/Home/Team">Learn more &raquo;</a></p>
    </div>
</div>