
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hello there!</h1>

<p><h4 id="thanks">Thanks so much for choosing to Explore Detroit.</h4></p>
<p><h4>Let's get started finding some great places to uncover. Come on in!</h4></p>

<form ACTION="/Home/Member" FORM METHOD="post">
    <input class="btn btn-secondary" type="submit" value="Get started" />
</form>

<div style="text-align: center;"><IMG SRC="https://embed.widencdn.net/img/quickenloans/n2qerojgsl/725px@1x/HolidayDoorman-20151207-004.jpg?q=80" ALT="Holiday Doorman"></div>


