
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Random</h2>

<p>Let's find some great places to go in Detroit!</p>

<form ACTION="/Home/Member" FORM METHOD="post" >
    <INPUT TYPE="submit" VALUE="Press Me">
</FORM>
